@page "/"

<PageTitle>Index</PageTitle>

<h1 style="color:blue; font-family:Comic Sans MS; text-shadow: 2px 2px #FF0000;">
    Welcome to Simcorp App 🎉
</h1>

<br>
Commit ID: <i>@commit</i>

<SurveyPrompt Title="Surveys?" />

@code {
    private string commit = Environment.GetEnvironmentVariable("REVISION_COMMIT_ID") ?? "unknown";
}